<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SunfrogCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SunfrogCrawler.Properties.Settings>
            <setting name="EMAIL" serializeAs="String">
                <value />
            </setting>
            <setting name="PASS" serializeAs="String">
                <value />
            </setting>
            <setting name="DELAY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SIZE" serializeAs="String">
                <value>10000</value>
            </setting>
        </SunfrogCrawler.Properties.Settings>
    </userSettings>
</configuration>