<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<configSections>
        	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
         
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GoogleTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  
    	<log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
  <file value="log4net2.txt" />
  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  <appendToFile value="true" />
  <maximumFileSize value="40MB" />
  <maxSizeRollBackups value="10" />
  <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
  </layout>
</appender>
          
		<!--<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="log4net.txt" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>-->

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<!--<param name="Header" value="[Header]\r\n" />
				<param name="Footer" value="[Footer]\r\n" />-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
      <appender-ref ref="RollingFile" />
			<!--<appender-ref ref="LogFileAppender" />-->
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GoogleTool.Properties.Settings>
            <setting name="APP_NAME" serializeAs="String">
                <value>My GPlus</value>
            </setting>
            <setting name="CLIENT_ID" serializeAs="String">
                <value>224026233474-aoekci2lv3beb3fu9in4u1iqs9i32qi3.apps.googleusercontent.com</value>
            </setting>
            <setting name="CLIENT_SECRET" serializeAs="String">
                <value>VS2420KZJl2-3BXkhwwLf5nM</value>
            </setting>
            <setting name="CLIENT_WEB_ID" serializeAs="String">
                <value>224026233474-ne7tju6tut6om80j7e07d16kpvouvugk.apps.googleusercontent.com</value>
            </setting>
            <setting name="CLIENT_WEB_SECRET" serializeAs="String">
                <value>LjddkvK0s2CPdRlPayZKIYjN</value>
            </setting>
        </GoogleTool.Properties.Settings>
    </userSettings>
</configuration>